<li class='profile-activity-item <%= activity.verb %>' id='profile-activity-item-<%= activity.id %>'>
  <% begin %>
    <%= render :partial => activity.verb, :locals => { :activity => activity, :tab_action => tab_action }%>
  <% rescue %>
    <%= render :partial => 'default_activity', :locals => { :activity => activity, :tab_action => tab_action }%>
  <% end %>
  <hr />
</li>
